<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment::head(~{::title},~{})">
    <title>首页-运营后台</title>
</head>

<body class="no-skin">
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="userName"> 用户名: </label>
                    <div class="col-sm-8">
                        <input type="text" id="userName" placeholder="请输入用户名称" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="nickName"> 昵称: </label>
                    <div class="col-sm-8">
                        <input type="text" id="nickName" placeholder="请输入用户昵称" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="trueName"> 真实姓名: </label>
                    <div class="col-sm-8">
                        <input type="text" id="trueName" placeholder="请输入真实姓名" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="sex"> 性别: </label>
                    <div class="col-sm-8">
                        <input type="text" id="sex" placeholder="请输性别" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="password"> 初始密码 </label>
                    <div class="col-sm-8">
                        <input type="text" id="password" placeholder="请输入初始密码" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="email"> Email: </label>
                    <div class="col-sm-8">
                        <input type="text" id="email" placeholder="请输入Email" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="mobile"> 手机号: </label>
                    <div class="col-sm-8">
                        <input type="text" id="mobile" placeholder="请输入手机号" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="birthDate"> 生日: </label>
                    <div class="col-sm-8">
                        <input type="text" id="birthDate" placeholder="请输入" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="blocked"> 是否禁用: </label>
                    <div class="col-sm-8">
                        <input type="text" id="blocked" placeholder="请输入" class="col-xs-10 col-sm-6"/>
                    </div>
                </div>
<!--                <div class="form-actions center">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            提交
                        </button>
                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            取消
                        </button>
                    </div>
                </div>-->
            </form>
        </div>
    </div>
</div>
<!--基本脚本-->
<th:block th:replace="fragment::basic-scripts"/>
<!-- 页面特定插件脚本 -->

<!-- ACE脚本 -->
<th:block th:replace="fragment::ace-scripts"/>
<!-- 与此页相关的内联脚本 -->

</body>
</html>