<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment::head(~{::title},~{})">
    <title>首页-运营后台</title>
</head>

<body class="no-skin">
<div th:replace="fragment::navbar"/>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {ace.settings.loadState('main-container')} catch (e) {}
    </script>

    <div th:replace="fragment::sidebar"/>

    <div class="main-content">
        <div class="main-content-inner">
            <div th:replace="fragment::breadcrumbs"/>

            <div class="page-content">
                <div th:replace="fragment::ace-settings-container"/>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <div th:replace="fragment::footer"/>
    <a th:replace="fragment::btn-scroll-up"/>
</div><!-- /.main-container -->

<!-- basic scripts -->
<th:block th:replace="fragment::basic-scripts"/>
<!-- page specific plugin scripts -->

<!-- ace scripts -->
<th:block th:replace="fragment::ace-scripts"/>
<!-- inline scripts related to this page -->
</body>
</html>
