<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment::head(~{::title},~{})">
    <title>首页-运营后台</title>
</head>

<body class="no-skin">
<div th:replace="fragment::navbar"/>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {ace.settings.loadState('main-container')} catch (e) {}
    </script>

    <div th:replace="fragment::sidebar"/>

    <div class="main-content">
        <div class="main-content-inner">
            <div th:replace="fragment::breadcrumbs"/>

            <div class="page-content">
                <div th:replace="fragment::ace-settings-container"/>
                <div class="row">
                    <div class="col-xs-12">
                        <!--页面 内容 开始-->

                        <!-- 页面 内容 结束 -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <div th:replace="fragment::footer"/>
    <a th:replace="fragment::btn-scroll-up"/>
</div><!-- /.main-container -->

<!--基本脚本-->
<th:block th:replace="fragment::basic-scripts"/>
<!-- 页面特定插件脚本 -->

<!-- ACE脚本 -->
<th:block th:replace="fragment::ace-scripts"/>
<!-- 与此页相关的内联脚本 -->

</body>
</html>
